<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button fill="solid" (click)="goToEditMenu()" color="primary">
        Edit Menu
        <ion-icon slot="start" name="extension-puzzle-outline"></ion-icon>
      </ion-button>
      <br><br><br>
      <ion-button fill="solid" (click)="goToEditLayout()" color="primary">
        Edit Layout
        <ion-icon slot="start" name="apps-outline"></ion-icon>
      </ion-button>
      <ion-button clear>  </ion-button>
      <ion-button clear>  </ion-button>
      <ion-button clear>  </ion-button>

    </ion-buttons>
    <ion-title>Admin Dashboard</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="solid" (click)="signOut()" color="danger">
        Log Out
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<style>
  header {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.05em;
        margin-bottom: 1.25em;
        margin-left :5px;
        text-transform: uppercase;
      }

</style>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-item lines="none">
      <ion-avatar slot="start">
      <ion-img src= "/assets/icon/robot.png"></ion-img> />>
      </ion-avatar>
      <ion-label class="my-label">Welcome Admin!</ion-label>
    </ion-item>
    <br><br><br>

    <div class="ion-text-center">
    <ion-button size="large" (click)="goToCurrentOrders()" fill="solid" color="warning">
    <ion-icon slot="end" name="fast-food-outline"></ion-icon>
    Current Orders
    </ion-button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <ion-button size="large" (click)="goToViewAnalytics()" fill="solid" color="secondary">
      <ion-icon slot="end" name="stats-chart-sharp"></ion-icon>
      Analytics    </ion-button>
      <br><br><br>

      <ion-button size="large" strong = true href="http://localhost:8100/admin"  fill="outline" color="success">
          <ion-icon slot="end" name="game-controller-sharp"></ion-icon>
          Control Robot    </ion-button>
        </div>

    <br><br><br>
    <br><br><br>


    <div class="ion-text-center">
      <br>
      <ion-button size="large" round (click)="openReqs()" value = "req" color="danger">
         View Requests
         <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        </ion-button>
      <ion-col id="reqCol" *ngFor="let request of userRequests; let i = index">
        <ion-slide *ngIf="!request.Acknowledged">
          <ion-card id="reqCard" (click)="acknowledgeRequest(request.id)" color="light" type="submit">
            <ion-card-header>REQUEST FROM TABLE {{request.Table}}</ion-card-header>
            <ion-card-content><strong>{{request.Request}}</strong></ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-col>
    </div>


