<ion-header>
 <ion-toolbar color="dark">

    <ion-title>App Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<style>
  header {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.05em;
        margin-bottom: 1.25em;
        margin-left :5px;
        text-transform: uppercase;
      }

</style>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Welcome Admin!
      </ion-col>
    </ion-row>

    <header>
    <div class="ion-text-right">
      <p>User email : <strong>{{ userDetail }}</strong></p>
      <ion-button type="submit" item-left color="danger" (click)="signOut()">Signout</ion-button>
    </div>
</header>

<div class="ion-text-center">
  <header>Robot Commands</header>
  <ion-button size = "large" color="success" strong = true href="http://localhost:8100/admin" fill="outline">Control Robot</ion-button>
</div>
  <br>

    <br><br><br>
    <div class="ion-text-center">
    <header>Application Settings</header>
    <ion-button size="medium" (click)="goToCurrentOrders()">View Current Orders </ion-button>
    <br><br><br>
    <ion-button size="medium" (click)="goToEditMenu()">Edit Menu Items </ion-button>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <ion-button size="medium" (click)="goToEditLayout()">Edit Layout </ion-button>
    <br><br><br>
    <ion-button size="medium" (click)="goToViewAnalytics()">View Analytics </ion-button>

    </div>

  </ion-grid>

</ion-content>
