<ion-header>
  <ion-toolbar color="light">
    <ion-title size="small">Find Your</ion-title>
    <ion-title>Best Meal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="light" size="small" (click)="goToSignup()">admin-login </ion-button>

  <br><br>

  <ion-button color="light" size="small" (click)="filterItems('Vegetarian')"> Vegetarian </ion-button>
  <ion-button color="light" size="small" (click)="filterItems('Halal')"> Halal </ion-button>
  <ion-button color="light" size="small" (click)="clearFilters()"> Clear Filters </ion-button>
  <ion-button color="light" size="small" (click)="addToOrder('HKmPa5WhxT8pxS1pvSat')"> Add To Order TEST </ion-button>


  <div class="scrolling-wrapper">
    <br>
    <ion-slides [options]="slideOpts" h2>Burgers</ion-slides>
    <br>
    <ion-col *ngFor="let item of menuItems; let i = index">

      <ion-slide *ngIf="item.type == 'Burgers'">
        <ion-card>
          <ion-img src="./assets/menu/{{item.name}}.jpg"></ion-img>
          <ion-card-header>{{item.name}}</ion-card-header>
          <ion-note>{{item.price}}</ion-note>
        </ion-card>
      </ion-slide>


    </ion-col>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>



  <div class="scrolling-wrapper">
    <br>
    <ion-slides [options]="slideOpts" h2>Chicken & Fish</ion-slides>
    <br>
    <ion-col *ngFor="let item of menuItems; let i = index">

      <ion-slide *ngIf="item.type == 'Chicken & Fish'">
        <ion-card>
          <ion-img src="./assets/menu/{{item.name}}.jpg"></ion-img>
          <ion-card-header>{{item.name}}</ion-card-header>
          <ion-note>{{item.price}}</ion-note>
        </ion-card>
      </ion-slide>


    </ion-col>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>




  <div class="scrolling-wrapper">
    <br>
    <ion-slides [options]="slideOpts" h2>Sweets & Treats</ion-slides>
    <br>
    <ion-col *ngFor="let item of menuItems; let i = index">

      <ion-slide *ngIf="item.type == 'Sweets & Treats'">
        <ion-card>
          <ion-img src="./assets/menu/{{item.name}}.jpg"></ion-img>
          <ion-card-header>{{item.name}}</ion-card-header>
          <ion-note>{{item.price}}</ion-note>
        </ion-card>
      </ion-slide>


    </ion-col>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>




  <div class="scrolling-wrapper">
    <br>
    <ion-slides [options]="slideOpts" h2>Cold Drinks</ion-slides>
    <br>
    <ion-col *ngFor="let item of menuItems; let i = index">

      <ion-slide *ngIf="item.type == 'Cold Drinks'">
        <ion-card>
          <ion-img src="./assets/menu/{{item.name}}.jpg"></ion-img>
          <ion-card-header>{{item.name}}</ion-card-header>
          <ion-note>{{item.price}}</ion-note>
        </ion-card>
      </ion-slide>


    </ion-col>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>







</ion-content>
