.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

  .item-card {
    flex: 0 0 auto;
  }
}
/*
span {
  padding-left: 2px !important;
  padding-right: 2px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  width: 85px !important;
  height: 70px !important;
}*/

ion-slide:hover {
  background: rgba(255, 0, 0, 0.8);
  cursor: pointer;
}
/*
span img {
  width: 55px;
  height: 55px;
}*/


ion-slide {
  width: 150px !important;
  height: 150px !important;
  background-color: #000;
  float: left;
  margin-left: 1.5px !important;
  margin-right: 1.5px !important;
  border-radius: 50px !important;
}

ion-slides {
  background-color: rgba(194, 193, 194, 0.52);
}

ion-img {
  height: 75px;
  width: 75px;
  margin: auto;
  display: block;
}


ion-card {
  width: 140px !important;
  height: 140px !important;
  float: left;
  margin-left: 1.5px !important;
  margin-right: 1.5px !important;
  border-radius: 50px !important;
  border-radius: 50px !important;
}
