<ion-header>
  <ion-toolbar>
    <ion-title>Browse Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button size="small" (click)="goToSignup()">admin-login </ion-button>

  <br><br>

  <ion-button size="small" (click)="filterItems('Vegetarian')"> Vegetarian </ion-button>
  <ion-button size="small" (click)="filterItems('Halal')"> Halal </ion-button>

  <div class="scrolling-wrapper">
    <br>
    <ion-note h2>Burgers</ion-note>
    <ion-row  class="align-items-center" *ngFor="let item of menuItems; let i = index">
      <div class="scrolling-wrapper">
        <ion-card class="item-card" *ngIf="item.type == 'Burgers'">
          <ion-card-header>{{item.name}}</ion-card-header><br>
          <ion-note>{{item.price}}</ion-note>
          <ion-button size="small" *ngIf="item.type == 'Burgers'" (click)="addToOrder(item.id)">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-card>
      </div>
    </ion-row>
  </div>
    <br>
    <ion-note h2>Chicken & Fish</ion-note>
    <ion-row  class="align-items-center" *ngFor="let item of menuItems; let i = index">
      <ion-col  size="3">
        <ion-card class="inline-block" *ngIf="item.type == 'Chicken & Fish'">
          <ion-note>{{item.name}}</ion-note><br>
          <ion-note>{{item.price}}</ion-note>
          <ion-button size="small" *ngIf="item.type == 'Chicken & Fish'" (click)="addToOrder(item.id)">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <br>

    <ion-note h2>Sweets & Treats</ion-note>
    <ion-row  class="align-items-center" *ngFor="let item of menuItems; let i = index">
      <ion-col  size="3">
        <ion-card class="inline-block" *ngIf="item.type == 'Sweets & Treats'">
          <ion-note>{{item.name}}</ion-note><br>
          <ion-note>{{item.price}}</ion-note>
          <ion-button size="small" *ngIf="item.type == 'Sweets & Treats'" (click)="addToOrder(item.id)">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <br>
    <ion-note h2>Cold Drinks</ion-note>
    <ion-row  class="align-items-center" *ngFor="let item of menuItems; let i = index">
      <ion-col  size="3">
        <ion-card class="inline-block" *ngIf="item.type == 'Cold Drinks'">
          <ion-note>{{item.name}}</ion-note><br>
          <ion-note>{{item.price}}</ion-note>
          <ion-button size="small" *ngIf="item.type == 'Cold Drinks'" (click)="addToOrder(item.id)">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>


</ion-content>
