<ion-header>
  <ion-toolbar color="light">
    <ion-title size="small">Find Your</ion-title>
    <ion-title>Best Meal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item lines="none">
  <ion-avatar slot="start">
  <ion-img src= "/assets/icon/robot.png"></ion-img> />>
  </ion-avatar>
  <ion-label>Welcome Customer!</ion-label>
</ion-item>

<ion-content>

  <br><br>

  <ion-chip (click)="filterItems('Vegetarian')" outline color="success">
    <ion-icon name="restaurant"></ion-icon>
    <ion-label>Vegetarian</ion-label>
  </ion-chip>

  <ion-chip (click)="filterItems('Halal')" outline color="tertiary">
    <ion-icon name="restaurant"></ion-icon>
    <ion-label>Halal</ion-label>
  </ion-chip>

  <ion-chip (click)="clearFilters()" outline color="dark">
    <ion-label>Clear Filters</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>

  <div class="scrolling-wrapper">
    <br>
    <ion-slides [options]="slideOpts" h2>Burgers</ion-slides>
    <br>
    <ion-col *ngFor="let item of menuItems; let i = index">

      <ion-slide *ngIf="item.type == 'Burgers'">
        <ion-card (click)="addToOrder(item.id)">
          <ion-img src="./assets/menu/{{item.name}}.jpg"></ion-img>
          <ion-card-header>{{item.name}}</ion-card-header>
          <ion-note>{{item.price}}</ion-note>
        </ion-card>
      </ion-slide>


    </ion-col>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>



  <div class="scrolling-wrapper">
    <br>
    <ion-slides [options]="slideOpts" h2>Chicken & Fish</ion-slides>
    <br>
    <ion-col *ngFor="let item of menuItems; let i = index">

      <ion-slide *ngIf="item.type == 'Chicken & Fish'">
        <ion-card (click)="addToOrder(item.id)">
          <ion-img src="./assets/menu/{{item.name}}.jpg"></ion-img>
          <ion-card-header>{{item.name}}</ion-card-header>
          <ion-note>{{item.price}}</ion-note>
        </ion-card>
      </ion-slide>


    </ion-col>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>




  <div class="scrolling-wrapper">
    <br>
    <ion-slides [options]="slideOpts" h2>Sweets & Treats</ion-slides>
    <br>
    <ion-col *ngFor="let item of menuItems; let i = index">

      <ion-slide *ngIf="item.type == 'Sweets & Treats'">
        <ion-card (click)="addToOrder(item.id)">
          <ion-img src="./assets/menu/{{item.name}}.jpg"></ion-img>
          <ion-card-header>{{item.name}}</ion-card-header>
          <ion-note>{{item.price}}</ion-note>
        </ion-card>
      </ion-slide>


    </ion-col>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>




  <div class="scrolling-wrapper">
    <br>
    <ion-slides [options]="slideOpts" h2>Cold Drinks</ion-slides>
    <br>
    <ion-col *ngFor="let item of menuItems; let i = index">

      <ion-slide *ngIf="item.type == 'Cold Drinks'">
        <ion-card (click)="addToOrder(item.id)">
          <ion-img src="./assets/menu/{{item.name}}.jpg"></ion-img>
          <ion-card-header>{{item.name}}</ion-card-header>
          <ion-note>{{item.price}}</ion-note>
        </ion-card>
      </ion-slide>


    </ion-col>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>







</ion-content>
