<div *ngFor="let item of itemList">
  <div class="card-deck my-3">
    <div class="card">
      <a class="card-link" routerLink="/position">
        <div class="card-body card-body-small">
          <i class="fas fa-cheese"></i>
          <h2 class="d-flex pl-3 font-weight-light float-right">
            {{ item.position_count }}
          </h2>
          <h4 class="card-title pt-1 pb-0 text-dark">Appetizers</h4>
        </div>
      </a>
    </div>

    <div class="card">
      <a class="card-link" routerLink="/employee">
        <div class="card-body">
          <i class="fas fa-hamburger"></i>
          <h2 class="d-flex pl-3 font-weight-light float-right text-dark">
            {{ item.employee_count }}
          </h2>
          <h4 class="card-title pt-1 pb-0 text-dark">Main Course</h4>
        </div>
      </a>
    </div>
    <div class="card">
      <a class="card-link" routerLink="/assignment">
        <div class="card-body">
          <i class="fas fa-ice-cream"></i>
          <h2 class="d-flex pl-3 font-weight-light float-right text-dark">
            {{ item.assignment_count }}
          </h2>
          <h4 class="card-title pt-1 pb-0 text-dark">Desserts</h4>
        </div>
      </a>
    </div>
  </div>
</div>
