<ion-header>
  <ion-toolbar>
    <ion-title>Current Orders</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="solid" (click)="goHome()" color="warning">
        Admin Home
        <ion-icon slot="start" name="home-outline"></ion-icon>

      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-row  class="align-items-center" *ngFor="let order of orders; let i = index">
    <ion-col  size="5">
      <ion-card class="inline-block" *ngIf="order.orderCompleted == false" (click)="orderReady(order.id, order.ready)">
        <h3>Table {{order.table}}</h3><br>
        <ion-note>Ordered Items: </ion-note> <br>
        <ion-row *ngFor = "let item of menuItems; let j = index">
          <ion-row *ngFor = "let orderItem of order.items; let k = index">
            <ion-note *ngIf="order.items[k] == menuItems[j].id">{{item.name}} </ion-note>
          </ion-row>

        </ion-row> <br>
        <ion-note>Total: {{order.total}} </ion-note> <br>
      <!--  <ion-note>Order Item Ids: {{order.items}}</ion-note><br> !-->
        <ion-note>Order ID: {{order.id}} </ion-note>
      </ion-card>
      <br><br>
    </ion-col>
  </ion-row>
</ion-content>
