<ion-header>
  <ion-toolbar>
    <ion-title>Current Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row  class="align-items-center" *ngFor="let order of orders; let i = index">
    <ion-col  size="3">
      <ion-card class="inline-block">
        <ion-note>Order Id: {{order.id}}</ion-note><br>
        <ion-note>Order Item Ids: {{order.items}}</ion-note><br>
        <ion-note>Order Table Number: {{order.table}}</ion-note>

      </ion-card>
      <br><br>
    </ion-col>
  </ion-row>>
</ion-content>
