<ion-header>
  <ion-toolbar>
    <ion-title>Edit Menu</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="solid" (click)="goHome()" color="warning">
       Admin Home
        <ion-icon slot="start" name="home-outline"></ion-icon>

      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>


<ion-content>

<!--  <ion-button (click)="openCreateNewMenuItemModal()">Create New Menu Item</ion-button>
  <p *ngIf="dataReturned">{{dataReturned}}</p>
  <br><br>!-->

  <ion-button id="create-menu-item-trigger-button">Create New Menu Item </ion-button>
<ion-modal trigger="create-menu-item-trigger-button">
  <ng-template>
    <ion-title> test modal </ion-title>
    <ion-content>
    </ion-content>
  </ng-template>
</ion-modal>

  <ion-button size="small" (click)="filterItems('Vegetarian')"> Vegetarian </ion-button>
  <ion-button size="small" (click)="filterItems('Halal')"> Halal </ion-button>

  <div class="scrolling-wrapper">
    <br>

    <ion-note h2>Burgers</ion-note>


    <ion-row  class="align-items-center" *ngFor="let item of menuItems; let i = index">
      <div class="scrolling-wrapper">
        <ion-card class="item-card" *ngIf="item.name == 'New Burger 1'">
          <ion-input id="menuItemName" type="text" placeholder={{item.name}} [(ngModel)]='text'
                    (keyup.enter)="onMenuItemNameChange(item.id, $event.target.value)" min=3></ion-input>
          <br>
          <ion-input id="menuItemPrice" type="number" placeholder={{item.price}} [(ngModel)]='number'
                    (keyup.enter)="onMenuItemPriceChange(item.id, $event.target.value)"></ion-input>
          <br>
          <ion-input id="menuItemCategory" placeholder={{item.category}} required="true"
          (keyup.enter) = "onMenuItemCategoryChange(item.id, $event.target.value)"></ion-input>
          <br>
          <ion-input id="menuItemType" placeholder={{item.type}} [(ngModel)] ='text'
                      (keyup.enter)='onMenuItemTypeChange(item.id, $event.target.value)' required="true"></ion-input>
          <ion-button size="small" type="submit" expand="block" (click)='onDeleteMenuItem(item.id)'>delete item</ion-button>
        </ion-card>
        <!-->
    <ion-row  class="align-items-center" *ngFor="let item of menuItems; let i = index">
      <div class="scrolling-wrapper">
        <ion-card class="item-card" *ngIf="item.type == 'Burgers'">
          <ion-input id="menuItemName" type="text" placeholder={{item.name}} [(ngModel)]='text'
                    (ionChange)='onMenuItemNameChange(item.id, $event.target.value)'></ion-input>
          <br>
          <ion-input id="menuItemPrice" type="number" placeholder={{item.price}} [(ngModel)]='number'
                    (ionChange)='onMenuItemPriceChange(item.id, $event.target.value)'></ion-input>
          <br>
          <ion-input id="menuItemCategory" placeholder={{item.category}} required="true"></ion-input>
          <br>
          <ion-input id="menuItemType" placeholder={{item.type}} [(ngModel)] ='text'
                      (ionChange)='onMenuItemTypeChange(item.id, $event.target.value)' required="true"></ion-input>
          <ion-button size="small" type="submit" expand="block" (ionChange)='onDeleteMenuItem(item.id)'>delete item</ion-button>
        </ion-card>
        <!-->

      </div>
    </ion-row>
  </div>
    <br>
    <ion-note h2>Chicken & Fish</ion-note>
    <ion-row  class="align-items-center" *ngFor="let item of menuItems; let i = index">
      <ion-col  size="3">
        <ion-card class="inline-block" *ngIf="item.type == 'Chicken & Fish'">
          <ion-note>{{item.name}}</ion-note><br>
          <ion-note>{{item.price}}</ion-note>
          <ion-button size="small" *ngIf="item.type == 'Chicken & Fish'" (click)="openEditMenuItem(item.id)">
            Edit
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <br>

    <ion-note h2>Sweets & Treats</ion-note>
    <ion-row  class="align-items-center" *ngFor="let item of menuItems; let i = index">
      <ion-col  size="3">
        <ion-card class="inline-block" *ngIf="item.type == 'Sweets & Treats'">
          <ion-note>{{item.name}}</ion-note><br>
          <ion-note>{{item.price}}</ion-note>
          <ion-button size="small" *ngIf="item.type == 'Sweets & Treats'" (click)="openEditMenuItem(item.id)">
            Edit
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <br>
    <ion-note h2>Cold Drinks</ion-note>
    <ion-row  class="align-items-center" *ngFor="let item of menuItems; let i = index">
      <ion-col  size="3">
        <ion-card class="inline-block" *ngIf="item.type == 'Cold Drinks'">
          <ion-note>{{item.name}}</ion-note><br>
          <ion-note>{{item.price}}</ion-note>
          <ion-button size="small" *ngIf="item.type == 'Cold Drinks'" (click)="openEditMenuItem(item.id)">
            Edit
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <br>

    <form #newItemForm = "ngForm" (ngSubmit) = "onAddMenuItem(newItemForm.value)" >
       <input type = "text" name = "newItemName" placeholder = "Name" ngModel>
       <br/>
       <input type = "number" name = "newItemPrice" placeholder = "$0.00" ngModel>
       <br/>
       <input type = "text" name = "newItemCategory" placeholder = "Category1, Category2" ngModel>
       <br/>
       <input type = "text" name = "newItemType" placeholder = "Type" ngModel>
       <br/>

       <input type = "submit" value ="submit">
    </form>
    <br>


</ion-content>
