<ion-header>
  <ion-toolbar color="success">
  <ion-title>Login</ion-title>
  <ion-buttons slot="primary">
    <ion-button *ngIf="isUserLoggedIn" fill="solid" (click)="logout()" color="danger">
     Log out
      <ion-icon slot="start" name="exit-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>



<ion-content class="ion-padding">
<div *ngIf="!isUserLoggedIn">
  <form [formGroup]="userForm" (ngSubmit)="signIn(userForm.value)">

    <ion-item>
      <ion-label class="email" position="stacked">Email</ion-label>
      <br>
      <ion-input type="text" placeholder="Please enter email..." formControlName="email"></ion-input>
    </ion-item>

    <ng-container *ngFor="let error of error_msg.email">
      <div *ngIf="userForm.get('email').hasError(error.type) && (userForm.get('email').dirty || userForm.get('email').touched)"style="color: red; font-size:14px">
        {{ error.message }}
      </div>
    </ng-container>


    <ion-item>
      <ion-label class="password" position="stacked"> Password</ion-label>
      <br>
      <ion-input type="password" placeholder="Please enter password..." formControlName="password"></ion-input>
    </ion-item>

    <ng-container *ngFor="let error of error_msg.password">
        <div *ngIf="userForm.get('password').hasError(error.type) && (userForm.get('password').dirty || userForm.get('password').touched)"style="color: red; font-size:14px">
          {{ error.message }}
        </div>
    </ng-container>

    <ion-button type="submit" expand="block" [disabled]="!userForm.valid" color="medium">Sign In</ion-button>

    <label class="ion-text-center" color="danger">{{errorMsg}}</label>
    <p class="ion-text-center">Not registered yet? <a (click)="goToSignup()">Register </a> </p>

  </form>

  <ion-button expand="block" (click)="googleLogin()" color="danger">
    <ion-icon slot="start" name="logo-google"></ion-icon>
    LogIn with Google
  </ion-button>

  <ion-button expand="block" (click)="microsoftLogin()" color="warning">
    <ion-icon slot="start" name="logo-microsoft"></ion-icon>
    LogIn with Microsoft
  </ion-button>

  <ion-button expand="block" (click)="gitHubLogin()" color="light">
    <ion-icon slot="start" name="logo-gitHub"></ion-icon>
    LogIn with GitHub
  </ion-button>

  <ion-button expand="block" (click)="twitterLogin()" color="secondary">
    <ion-icon slot="start" name="logo-twitter"></ion-icon>
    LogIn with Twitter
  </ion-button>
</div>


  <div *ngIf="isUserLoggedIn">
  <ion-card>
  <ion-card-content>

      

    <ion-item lines="none">
      <ion-avatar slot="start">
      <ion-img src= "/assets/icon/robot.png"></ion-img> />>
      </ion-avatar>
      <ion-label class="my-label">Hi {{accountDetails.firstName}}!</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label><strong>Email:</strong></ion-label>
      <ion-input value={{accountDetails.email}} readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="person-outline"></ion-icon>
      <ion-label><strong>First Name:</strong></ion-label>
      <ion-input value={{accountDetails.firstName}}></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label><strong>Last Name:</strong></ion-label>
      <ion-input value={{accountDetails.lastName}}></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="star-outline"></ion-icon>
      <ion-label><strong>Favourites:</strong></ion-label>
      <ion-input value={{accountDetails.favourites}} readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="basket-outline"></ion-icon>
      <ion-label><strong>Past Orders:</strong></ion-label>
      <ion-input value={{accountDetails.pastOrders}} readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="heart-circle-outline"></ion-icon>
      <ion-label><strong>Preferences:</strong></ion-label>
      <ion-input value={{accountDetails.preferences}} readonly></ion-input>
    </ion-item>
   </ion-card-content>
  </ion-card>
  </div>
</ion-content>