<ion-header>
  <ion-toolbar>
    <ion-title>View Order</ion-title>
    <ion-label *ngIf="!!orderId" color="primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{orderId}}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-item lines="none" *ngIf="!!timeSubmitted">
    <ion-icon name="restaurant"  slot="start"></ion-icon>
    <ion-label color="primary">Order placed on: {{timeSubmitted}}</ion-label>
  </ion-item>
  <br *ngIf="!!timeSubmitted">
  <ion-item lines="none">
    <ion-icon name="cart-outline"  slot="start"></ion-icon>
    <ion-label>Items added to the order will be displayed here along with the statuses of the food items.</ion-label>
  </ion-item>

  <ion-item lines="none">
  <ion-icon name="warning"  slot="start"></ion-icon>
  <ion-label>Note: Items have not yet been submitted.</ion-label>
</ion-item>

  <ion-grid class="ion-align-items-start">
    <ion-list>
    <ion-row class="ion-align-items-start" *ngFor="let item of notSubmitted; let i = index">
      <ion-col class="ion-align-items-center">
        <ion-img src="./assets/menu/{{item.name}}.jpg"></ion-img>
      </ion-col>
      <ion-col class="ion-align-items-center">
        <div class="ion-align-items-center" id="item-divider">
          <ion-item lines="none">
            <ion-label id="item-text">{{item.name}}</ion-label>
          </ion-item>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-align-items-center" id="item-divider">
          <ion-item lines="none">
            <ion-label class="itemPrice" id="item-text">{{item.price}}</ion-label>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <br>
    <ion-item>
      <ion-label>TOTAL</ion-label>
      <ion-note slot="end" class="orderTotal" color="primary">${{order.total}}</ion-note>
    </ion-item>
  </ion-list>
  <br><br>
  <ion-row>
    <ion-button size="medium" color="light" (click)=submitOrder()><ion-icon name="cart-outline" round outline></ion-icon>SEND ORDER</ion-button>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    <ion-button size="medium" color="light" (click)=pay()><ion-icon name="wallet-outline" round outline></ion-icon>Pay</ion-button>
  </ion-row>
  </ion-grid>
</ion-content>
