

ion-img {
  height: 50px;
  width: 50px;
  margin: auto;
  display: block;
}


.orderTotal {
  font-size: 1.5em;
}
.fab {
  width: 100px !important;
  height: 100px !important;
  }
.miniFab {
  width: 60px !important;
  height: 60px !important;
  }
ion-grid {
  width: 840px !important;
  height: 140px !important;
  float: left;
  margin-left: 1.5px !important;
  margin-right: 1.5px !important;
  //border-radius: 50px !important;
  //border-radius: 50px !important;
}

#item-text {
  
  font-size: 18px !important;
}

#item-divider {
  margin-top: 17.5px !important;
}
