

ion-img {
  height: 50px;
  width: 50px;
  margin: auto;
  display: block;
}


ion-grid {
  width: 840px !important;
  height: 140px !important;
  float: left;
  margin-left: 1.5px !important;
  margin-right: 1.5px !important;
  //border-radius: 50px !important;
  //border-radius: 50px !important;
}

#item-text {
  
  font-size: 15px !important;
}

#item-divider {
  margin-top: 17.5px !important;
}
