<ion-header>
  <ion-toolbar>
    <ion-title>View Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-note class="ion-padding">
    Items added to the order will be displayed here along with the statuses of the food items.
  </ion-note>
  <br><br>
  <ion-note class="ion-padding" h2> In Cart, not yet submitted: </ion-note>
  <br>
  <br>
  
  <ion-grid class="ion-align-items-start">
    <ion-row class="ion-align-items-start" *ngFor="let item of notSubmitted; let i = index">
      <ion-col class="ion-align-items-center">
        <ion-img src="./assets/menu/{{item.name}}.jpg"></ion-img>
      </ion-col>
      <ion-col class="ion-align-items-center">
        <div class="ion-align-items-center" id="item-divider">
          <ion-note id="item-text">{{item.name}}</ion-note>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-align-items-center" id="item-divider">
          <ion-note id="item-text">$ {{item.price}}</ion-note>
        </div>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <ion-note> _______ </ion-note>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-center">
          <ion-note> </ion-note>
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-start">
          <ion-note> </ion-note>
        </div>
      </ion-col>
    </ion-row>

      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-note h2> TOTAL </ion-note>
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-center">
            <ion-note h2> </ion-note>
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-start">
            <ion-note>${{order.total}}</ion-note>
          </div>
        </ion-col>
      </ion-row>
      <br><br>
      <ion-row>
        <ion-button size="large" (click)=submitOrder()>SEND ORDER</ion-button>
        <ion-note> Order number:  </ion-note>
        <ion-button size="large" (click)=pay()>Pay</ion-button>
      </ion-row>
  </ion-grid>
  
</ion-content>
