<ion-header>
  <ion-toolbar>
    <ion-title>view-order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-note>
    Items added to the order will be displayed here along with the statuses of the food items.
  </ion-note>
  <br><br>
  <ion-note h2> In Cart, not yet submitted: </ion-note>
  <ion-row  class="align-items-center" *ngFor="let item of localCart; let i = index">
    <div class="scrolling-wrapper">
      <ion-card class="item-card">
        <ion-card-header>{{item.name}}</ion-card-header><br>
        <ion-note>{{item.price}}</ion-note>
      </ion-card>
    </div>
  </ion-row>

<br><br>
  <ion-button size="large" (click)=submitOrder()>SEND ORDER</ion-button>
  <ion-note> Order number:  </ion-note>
  <ion-button size="large" (click)=pay()>Pay</ion-button>
</ion-content>
