<ion-header>
  <ion-toolbar>
    <ion-title>Edit Layout</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="solid" (click)="goHome()" color="warning">
        Admin Home
        <ion-icon slot="start" name="home-outline"></ion-icon>

      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-col id="reqCol" *ngFor="let layout of restaurantLayout; let i = index">
    <ion-item>
      <ion-icon name="people-circle-sharp" slot="start"></ion-icon>
      <ion-title>Table {{layout.table}}</ion-title>
      <ion-badge item-end>{{layout.size}}</ion-badge>

      <ion-button *ngIf="!!layout.available" fill="solid" (click)="changeAvailability(layout.id, layout.available)" color="success" slot="end">Available</ion-button>
      <ion-button *ngIf="!!!layout.available" fill="solid" (click)="changeAvailability(layout.id, layout.available)" color="danger" slot="end">Unavailable</ion-button>

    </ion-item>
  </ion-col>

</ion-content>
