<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      browse menu
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-button (click)="toggleInfiniteScroll()" expand="block">
    Toggle Infinite Scroll
  </ion-button>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">browse menu</ion-title>
    </ion-toolbar>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  </ion-header>

  <app-explore-container name="Smalls">


  </app-explore-container>
</ion-content>
