<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-button size="small" (click)="goToSignup()">admin-login </ion-button>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLinkActive="tab-selected" (click)="goToMenu()">
      <ion-icon src="assets/custom-icons/noun_food menu_4227968.svg"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goToViewOrder()">
      <ion-icon src="assets/custom-icons/noun_cloche_3725755.svg"></ion-icon>
      <ion-label>View Order</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goToAccount()">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goToSignup()">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
